html {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

div {
  border: 1px solid black;
}

a {
  color: #000;
  text-decoration: none;
}


img {
  max-height: 100%;
  width: auto;
  display: block;
}

 /* Header area */

.header {
  height: 4rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;


}

.header .logo {
  display: flex;
  align-items: center;
}

.header .container {
  height: 100%;
  width: 5rem;
  overflow: hidden;
}

.header span {
  padding-left: 1rem;
  font-size: 2.5rem;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav a {
  padding: 0 0.5rem;
  height: 1.8rem;
}

nav p {
  font-size: 1.5rem;
}

nav img {
  padding-left: 1rem;
}

nav a:hover {
  text-decoration: underline;
}


/* Jumbo area */

.jumbo {
  background-image: url(../images/shanghai1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;



}

.jumbo h1 {
  font-size: 5rem;
  padding: 1rem 0;
  color: #A42A29;
  background-color: #FFFFFF;
}

.jumbo h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  background-color: #FFFFFF;
}

/* Offerins section */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../images/shanghai2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 900px;

}

.main h2 {
  font-size: 3rem;
  padding: 1rem 0;
  color: #A42A29;
  background-color: #FFF;
  width: 100%;
  margin-bottom: 2rem;

}

.offering {
  display: flex;
  width: 80%;
  background-color: #FFF;
  margin: 2rem 0;
  height: 5rem;


}

/* Testimonials section */

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../images/watertowns1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 900px;

}

.testimonials h2 {
  font-size: 3rem;
  padding: 1rem 0;
  color: #A42A29;
  background-color: #FFF;
  width: 100%;
  margin-bottom: 2rem;

}

.speach {
  display: flex;
  justify-content: space-around;
}

.speachbox {
  width: 30%;
}



/* Footer section */

.footer {
  text-align: center;
}
