html {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

div {
  border: 1px solid black;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.3rem;
}

 /* Header area */

.header {
  height: 4rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;


}

.header .logo {
  display: flex;
  align-items: center;
}

.header .container {
  height: 100%;
  width: 4rem;
  overflow: hidden;
}

.header img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header span {
  padding-left: 1rem;
  font-size: 2.5rem;
}

.header nav {
  display: flex;
  align-items: center;
  vertical-align: baseline;
}

.header nav a {
  padding: 0 0.5rem;
  height: 1.8rem;
}

nav p {
  font-size: 1.5rem;
}

#icon-flag {
  position: relative;
  bottom: .6rem;
}

nav img {
  padding-left: 1rem;
}

nav a:hover {
  text-decoration: underline;
}


/* Jumbo area */

.jumbo {
  background-image: url(../images/shanghai5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#destinations {
  align-items: center;
}

.jumbo-text {
  opacity: .9;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.jumbo-writing {
  opacity: 2;
  width: 80%;
}

.jumbo h1 {
  font-size: 5rem;
  padding: 1rem 0;
  color: #A42A29;
}



.jumbo h3 {
  font-size: 2rem;
  padding-bottom: 1rem;

}

/* Offerins section */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../images/shanghai6b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 900px;

}

.main h2 {
  font-size: 3rem;
  padding: 1rem 0;
  color: #A42A29;
  background-color: #FFF;
  width: 100%;
  margin-bottom: 2rem;
  opacity: .9;

}

.offering {
  display: flex;
  width: 50%;
  background-color: #FFF;
  margin: 2rem 0;
  height: 15%;
  opacity: .9;


}

.offering .container {
  width: 270px;
  height: auto;
  overflow: hidden;
  position: relative;
}


.offering img {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.offering .texting {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.offering .texting h4 {
  padding: 1rem 0rem;
}

/* Testimonials section */

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../images/watertowns1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 900px;

}

.testimonials h2 {
  font-size: 3rem;
  padding: 1rem 0;
  color: #A42A29;
  background-color: #FFF;
  width: 100%;
  margin-bottom: 7rem;
  opacity: .9;

}


.speach {
  display: flex;
  justify-content: space-around;
}

.speachbox {
  width: 30%;
  height: 10rem;
}

.speachbox-top {
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
}

.speachbox-bottom {
  display: flex;
  justify-content: space-around;

}

.testimonials img {
  border-radius: 50%;
  border: 4px solid white;
}

.testimonials .texting {
  text-align: center;
  color: black;
  background-color: #FFF;
  opacity: .9;
  height: 10rem;
}

.testimonials h4 {
  padding: .5rem;
}

/* Footer section */

.footer {
  text-align: center;
}
